.menu{
    display: flex;
    justify-content: space-between;
    padding-left: 30%;
    padding-right: 30%;
    background-color: rgba(110, 255, 153, 0.388);
    border-radius: 8px;
}

.menu-item{
    padding-left: 15px;
    padding-right: 15px;
}

.menu-item:hover{
    background-color: rgba(87, 203, 122, 0.388);
    border-radius: 8px;
}